<ion-header>
  <ion-toolbar>
    <ion-title>{{ note.title }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Titulo de la Nota</ion-label>
      <ion-input type="text" [(ngModel)]="note.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripcion</ion-label>
      <ion-textarea [(ngModel)]="note.description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Fecha</ion-label>
      <div padding>

        <ng-container *ngIf="isAndroid;then android else web"></ng-container>
        <ng-template #android>
          <ion-button color="success" (click)="openDatePicker()">Seleccionar</ion-button>
        </ng-template>
        <ng-template #web>
          <ion-input type="date"></ion-input>
        </ng-template>
        
      </div>
    </ion-item>
  </ion-list>
  <div padding>
    <ion-button expand="full" color="success" (click)="addNote()">Guardar Nota</ion-button>
    <ion-button expand="full" color="danger" (click)="deleteNote()">Eliminar Nota</ion-button>
  </div>
</ion-content>
